[color]
	ui = auto
[user]
	name = Yu Chunbo
	email = chunboyu@ecarx.com.cn
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
	st = status
	cp = cherry-pick
	co = checkout
	ci = commit
	br = branch

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[merge]
	tool = kdiff3
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
